{% render 'partials/head.liquid', title: 'Squad page' %}

<ul>
  <li><a href="/">A-Z</a></li>
  {% for letter in alfabetArray%}
    <li><a href="/{{ letter }}" class="alfabet">{{ letter | upcase}}</a></li>
  {% endfor %}
</ul>

<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul>
</main>

{% render 'partials/foot.liquid', squads: squads %}