*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --spacing-m: 2rem;
    --spacing-s: 1rem;
    --spacing-xs: 0.5rem;

    --color-text-primary: #000;
    --color-hover-background: #EFEFEF;

    --animation-duration: 0.2s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: max-content 1fr;


    h1 {
        grid-column: span 2;
    }

    ul {
        li {
            list-style: none;

            a {
                text-decoration: none;
                color: var(--color-text-primary);
                padding: var(--spacing-s);
                display: block;
                border-radius: 12px;

                transition: all var(--animation-duration) ease;
            
                &.alfabet {
                    text-align: center;
                }

                &:hover {
                    transform: translateX(var(--spacing-xs));
                    background-color: var(--color-hover-background);

                    transition: all var(--animation-duration) ease;
                }
            }
        }
    }
}
