*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --spacing-m: 2rem;
    --spacing-s: 1rem;

    --color-text-primary: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: max-content 1fr;


    h1 {
        grid-column: span 2;
    }

    ul {
        li {
            list-style: none;

            a {
                text-decoration: none;
                color: var(--color-text-primary);
                padding: var(--spacing-s);
                display: block;
            
                &.alfabet {
                    text-align: center;
                }
            }
        }
    }
}
