*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --spacing-m: 2rem;
    --spacing-s: 1rem;
    --spacing-xs: 0.5rem;

    --color-text-primary: #000;
    --color-text-secondary: #fff;
    --color-hover-background: #EFEFEF;

    --border-radius-m: 14px;
    --border-radius-s: 12px;

    --animation-duration: 0.2s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: max-content 1fr;
    /* padding-inline: var(--spacing-xs); */
    gap: var(--spacing-xs);

    text-align: center;

    @media (width > 400px) {
        display: block;
    }

    h1 {
        grid-column: span 2;
    }

    ul {
        @media (width > 400px) {

            padding-inline: var(--spacing-xs);
        }

        &:nth-of-type(1) {
            border-radius: var(--border-radius-s);
            border: 1px solid var(--color-hover-background);
            background-color: #fff;
            height: 90vh;
            overflow-y: scroll;
            position: sticky;
            top: 5vh;
            scrollbar-width: none;


            @media (width > 400px) {
                display: flex;
                overflow-x: scroll;
                position: sticky;
                top: 0;
                height: auto;
            }

            @media (width > 1150px) {
                justify-content: center;
            }

            li {
                justify-self: center;

                a {

                    &:hover {
                        background-color: var(--color-hover-background);
                    }
                }
            }
        }

        li {
            list-style: none;

            @media (width > 400px) {
                justify-self: center;
            }

            &.error-message {
                text-transform: uppercase;
                margin-top: var(--spacing-s);
            }

            @media (any-pointer: fine) {
                &:hover {
                    img {
                        display: block;
                        z-index: 1;
                    }
                }
            }
        }

        img {
            display: none;

            position: fixed;
            bottom: var(--spacing-m);
            left: var(--spacing-m);
        }

        a {
            text-decoration: none;
            color: var(--color-text-primary);
            padding: var(--spacing-s);
            display: block;
            border-radius: 12px;
            width: max-content;

            transition: all var(--animation-duration) ease;

            &.alfabet {
                text-align: center;
            }

            @media (any-pointer: fine) {
                &:hover {
                    background-color: var(--color-favorite);
                    transition: all var(--animation-duration) ease;
                }
            }
        }
    }
}
